.headerContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: var(--headerColor);
    border-radius: 5px;
}

.title {
    display: inline;
    font-family: 'Righteous';
    font-size: var(--secondarySize);
    color: #fff;
    margin-right: 1rem;
}

.iconContainer {
    display: flex;
    flex-shrink: 1;
    width: calc(var(--mainSize)*1.5);
    height: calc(var(--mainSize)*1.5);
    border: 2px solid #fff;
    border-radius: 50%;
}

.icon {
    margin-left: auto;
    margin-right: auto;
    font-size: calc(var(--mainSize)*1.2);
    color: #fff;
}


